.navigation {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    justify-content: space-around;
    text-align: center;
}

.navigation li {
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
}

.navigation a,
.navigation a:link,
.navigation a:active,
.navigation a:visited {
    color: #000;
    text-decoration: none;
}

.navigation a:hover {
    color: #f20;
    text-decoration: underline;
}

@media(max-width: 499px) {
    .navigation {
        width: 90%;
    }
}