.repository  {
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
}

.repository img {
    border: 1px solid transparent;
    border-radius: 75px;
    height: 150px;
    width: 150px;
}

.repository .name {
    color: #f20;
}